:root {
	--primary-color: #540b0e;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
	background-color: var(--primary-color);
	
}

h1 {
	color: white;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: var(--border-radius);
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	width: 275px;
	margin: 20px auto 10px;
	user-select: none;

}

h1:hover {
	background: rgba(0, 0, 0, 0.8);
}

